goapp/database.yml
goapp/js
goapp/html_source
goapp/DB_setting.txt
goapp/cmd/web/DB_setting.txt
goapp/myApp1
goapp/internal/handlers/DB_setting.txt
/neo4j/Dockerfile
/nginx/Dockerfile
/redis/Dockerfile
/postgres/Dockerfile