<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myApp1 Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/notie"></script>
    <style>
        .notie-container {
            box-shadow: none;
        }
        html {
            background-color: whitesmoke;
            
        }
        .root {
            background-color: whitesmoke;
            /* width: ;
            height: auto; */
            display: flex;
            /* align-items: center; */
            /* flex-direction: row; */
            justify-content: center;
        }
        main {
            display: flex;
            flex-direction: column;
            width:auto;
            justify-content: center;

        }
        .login_form {
            width: fit-content;
            max-width: 300px;
            height: calc(100% + 20px);
            /* height: calc(width*1.4); */
            background-color: white;
            border: 1px solid #eee;
            padding: 20px;
        }
        
    </style>
</head>
<body>
    <div class="root">
        <main>
            <header>Homemade twitter</header>
            <div class="login_form">
                <form action="/login" method="post" novalidate class="needs-validation">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class='form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}' name="email" id="email1" aria-describedby="emailHelp">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                    </div>
                    <!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    <div>Havn't an account?</div>
                    <div><a href="/signup"> Sign up</a></div>
                </form>
            </div>
        </main>
        <footer>

        </footer>
    </div>
    <script>
        function notify(msg, msgType) {
            notie.alert({
                type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
                text: msg,
                // stay: Boolean, // optional, default = false
                // time: Number, // optional, default = 3, minimum = 1,
                // position: String // optional, default = 'top', enum: ['top', 'bottom']
            })
        };

        {{with .Error}}
            notify("{{.}}", "error");
            // console.log("{{.}}");
        {{end}}
    </script>
</body>
</html>